#gallery {
  padding: 177px 212px 229px 218px;

  .texts-wrapper {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 60px;
      line-height: 90px;
      font-weight: 700;
      color: var(--ink-color);
    }

    p {
      margin-top: 42px;
      color: #6f7787;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }
  }

  .images-wrapper {
    margin-top: 71px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .img-wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 30px;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .img-wrapper-mobile {
    display: none;
  }
}

@media only screen and (max-width: 876px) {
  #gallery {
    padding: 32px 30px 40px 30px;

    .texts-wrapper {
      width: 100%;

      h1 {
        font-size: 40px;
        line-height: 46px;
      }

      p {
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .images-wrapper {
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    .img-wrapper:last-child {
      display: none;
    }

    .img-wrapper-mobile {
      margin-top: 30px;
      display: flex;
      align-items: center;
      gap: 30px;
      width: 100%;

      img {
        width: 47%;
      }
    }
  }
}
