#life {
  padding: 141px 125px 210px 200px;
  background: url("../../images/life_img.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .wrapper {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 42px;
      line-height: 50px;
      font-weight: 700;
      color: var(--white-color);
      width: 90%;
      margin: 0 auto;
    }

    .img-bazaar {
      margin: 125px 0;
      width: 100%;
    }
  }

  .cards-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card {
      width: 48%;
      display: flex;
      align-items: center;
      gap: 40px;

      img {
        width: 40%;
        height: 151px;
        border-radius: 5px;
      }

      .title {
        width: 40%;
        color: var(--white-color);

        h3 {
          font-size: 18px;
          line-height: 27px;
          font-weight: 700;
        }

        p {
          margin-top: 20px;
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
          opacity: 70%;
        }
      }
    }
  }
}

@media only screen and (max-width: 876px) {
  #life {
    padding: 80px 30px 40px 30px;

    .wrapper {
      width: 100%;
      margin: 0;

      h1 {
        font-size: 40px;
        line-height: 46px;
        width: 100%;
        margin: 0;
      }

      .img-bazaar {
        margin: 60px 0 40px 0;
      }
    }

    .cards-wrapper {
      flex-direction: column;
      gap: 40px;

      .card {
        flex-direction: column;
        width: 100%;

        img {
          width: 100%;
        }

        .title {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
